main {
    width: 98vw;
    overflow: hidden;
    display: flex;
}
img,
picture {
    width: 1920px;
    object-position: center;
    transform: translateX(-50%);
    margin: 0 50%;
}
@media only screen and (max-width: 767px) {
main {
    width: 320px;
    margin: auto;

}

  img,
  picture {
    width: 320px;
  }
}