@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  src: url('../fonts/opensans.woff2') format('woff2'),
  url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url('../fonts/opensansbold.woff2') format('woff2'),
  url('../fonts/opensansbold.woff') format('woff');
}

@font-face {
  font-family: 'Geometria';
  font-weight: 400;
  src: url('../fonts/Geometria.woff') format('woff');
}

@font-face {
  font-family: 'Geometria';
  font-weight: 500;
  src: url('../fonts/Geometria-Medium.woff') format('woff');
}


@font-face {
  font-family: 'Geometria';
  font-weight: 700;
  src: url('../fonts/Geometria-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Geometria';
  font-weight: 800;
  src: url('../fonts/Geometria-ExtaBlack.woff') format('woff');
}
