@mixin clearfix {
  &::after {
    clear: both;
    content: '';

    display: table;
  }
}

@mixin no-outline {
  background: transparent;
  outline: none;

  &::before {
    display: none;
  }
}

@mixin wrapper {
  margin: 0 auto;

   @media ($tablet-widths) {

    padding-left: 10px;
    padding-right: 10px;
    max-width: 750px;
  }

  @media ($desktop-widths) {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1110px;
    width: 100%;
  }
}

@mixin hide {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
}

@mixin show {
  position: initial;

  width: auto;
  height: auto;
  margin: 0;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
}

@mixin set-font-size($fs-map, $fs-key: null) {
  @if map-has-key ($fs-map, $fs-key) {
    $fs-map: map-get($fs-map, $fs-key);
  } @else {
    // TODO: задать вывод ошибки
  }

  @if type-of($fs-map) == 'list'  {
    font-size: nth($fs-map, 1);
    @if (length($fs-map) > 1) {
      line-height: nth($fs-map, 2);
    }
  } @else {
    font-size: $fs-map;
  }
}
