/// for set breakpoints
$tablet-widths: 'min-width: 768px';
$desktop-widths: 'min-width: 1140px';
$only-mobyle-widths: 'max-width: 767px';

$text-black: #23282f;
$text-gray: #55595f;
$text-gray-light: #8c8c8c;
$text-gray-footer: #a1a1a1;
$text-white: #fff;
$text-menu-item: #4f5051;
$text-lightblue: #93a1a7;

$bg-white: #fff;
$bg-gray: #e6e6e6;
$bg-dark: #2b2b2b;

$bg-red: #f73838;
$bg-red-medium: #d21f1f;
$bg-red-dark: #ac1212;
$bg-red-light: #f26c6c;

$br-line-footer: #505252;

$default-font-size: (
  null: (12px, 15px),
  medium: (12px, 25px),
  large: (15px, 22px)
);

$menu-main-font-size: (
  null: (12px, 24px),
  medium: (11px, 19px),
  large: (15px, 12px)
);

$menu-sub-font-size: (
  null: (12px, 24px),
  medium: (9px, 21px),
  large: (10px, 41px)
);

$menu-footer-font-size: (
  null: (12px, 18px),
  medium: (12px, 22px),
  large: (14px, 21px)
);

$links-font-size: (
  null: (12px, 15px),
  medium: (13px, 17px),
  large: (13px, 17px)
);

$h1-font-size: (
  null: (12px, 15px),
  medium: (13px, 20px),
  large: (30px, 24px)
);

$h2-font-size: (
  null: (18px, null),
  medium: (18px, 24px),
  large: (30px, 30px)
);

$h2-sub-font-size: (
  null: (12px, 15px),
  medium: (14px, 20px),
  large: (16px, 25px)
);
