.about {
  margin: 0;
  display: block;
  background-color: $bg-gray;
}

.about__title,
.about__subtitle {
  @include hide;
}

.about__list {
  margin: 0 auto;
  padding: 0 10px;
  padding-bottom: 20px;
}

.about__item,
.about--aside .about__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 21px;
  padding-left: 78px;
  padding-right: 20px;
  padding-bottom: 10px;
  min-width: 182px;
  max-width: 250px;
  line-height: 15px;
  background-color: $bg-white;
  list-style: none;
  border-bottom: 2px solid #a5a5aa;


  &::before {
   content: "";
    position: absolute;
    top: 21px;
    left: 30px;
    width: 23px;
    height: 23px;

    background-color: #c8c8cc;
    border-radius: 3px;
  }

  &:hover {
    box-shadow: 0 -2px 2px 0 rgba(255, 255, 255, 0.9);
  }

  &:hover::before {
    background-color: $bg-red;

  }

  &:active {
    box-shadow: 0 -1px 2px 0 #a5a5aa;
  }

  &:active::before {
     background-color: $bg-red-dark;
  }
}

.about--aside {
  padding-bottom: 30px;
  margin: 0 -15px;

  & a {
    text-decoration: none;
    color: inherit;
  }

  & .about__item {
    border-bottom: none;
    cursor: pointer;
  }

  & .about__item-caption {
    box-shadow: 0 1px 0 0px #23282f;
    padding-bottom: 8px;
  }
}

.about__item-caption {
  margin: 0;
  font-family: "Geometria", "Verdana", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  color: $text-black;
}

.about__item-details {
  font-family: 'Open Sans', 'Arial' , sans-serif;
  font-size: 13px;
  line-height: 19px;
}

.about__more {
  display: none;
}

@media ($tablet-widths) {
  .about {
    @include wrapper;
    margin-bottom: 60px;
    background-color: $bg-white;

    &.about--aside {
      padding: 0;
      padding-top: 90px;
      margin: 0;
      margin-top: 10px;
      padding-left: 40px;
      padding-right: 0;
      width: 364px;
    }
  }

  .about__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .about__item {
    padding-left: 70px;
    padding-right: 10px;
    padding-bottom: 25px;
    min-width: 182px;
    border-bottom-color: transparent;
    line-height: 18px;
    width: 330px;


    &::before {
      left: 15px;
      width: 25px;
      height: 25px;
    }

    &:active {
      box-shadow: none;
    }
  }

  .about--aside .about__list {
    margin: 0;
    padding: 0;
    // margin-left: 60px;
  }

  .about--aside .about__item {
    background-color: #e7e8eb;
    margin: 0;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 18px;
    padding-bottom: 10px;
    max-width: 254px;
    width: 254px;
    border-radius: 3px;

    &:hover {
      background-color: #d7d7da;
    }

    &:hover::before {
      background-color: #9f9f9f;
    }

    &:active {
      background-color: $bg-white;
      box-shadow: none;
    }

    &:active::before {
      background-color: $bg-red-medium;
    }
  }

  .about__more {
    display: table;
    margin: 22px auto;
    white-space: nowrap;
  }
}

@media ($desktop-widths) {
  .about {
    margin-bottom: 94px;
    padding-top: 100px;

    &.about--aside {
      padding-top: 140px;
    }
  }

  .about__title,
  .about__subtitle {
    @include show;
    @include set-font-size($h2-font-size, large);
    font-family: 'Geometria', 'Verdana', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: $text-black;
  }

  .about__subtitle {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: normal;
    text-transform: lowercase;
    font-size: 16px;
    color: $text-gray-light;
  }

  .about__item-caption {
    font-size: 20px;
    line-height: 16px;
  }

  .about__list {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  .about__item {
    margin: 0;
    padding-left: 50px;
    padding-right: 10px;
    padding-bottom: 0;
    min-width: 182px;
    width: auto;
    background-color: $bg-white;
    list-style: none;

    &::before {
      left: 0;
    }
  }

  .about--aside .about__list {
    margin-left: 172px;
  }

  .about--aside .about__item {
    padding-top: 30px;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-bottom: 34px;

    &:before {
      top: 30px;
      width: 24px;
      height: 24px;
    }
  }
}
