.article {
  padding-bottom: 50px;

  &  p {
    margin: 0;
    margin-bottom: 35px;
  }

  & img {
    margin: 0;
    margin-bottom: 50px;
  }

   & h3 {
    @include set-font-size($menu-main-font-size);
    font-weight: bolder;
    line-height: 1.2em;
    text-transform: uppercase;
  }

  & strong {
    color: $text-red;
    font-weight: inherit;
  }

  & table {
    margin-bottom: 40px;
    width: 100%;
    border-collapse: collapse;
  }

  & td,
  & th {
    padding: 6px 5px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #383838;
  }

  & thead,
  & th {
    background-color: $bg-gray;
  }

  & ul,
  & ol {
    margin: 0;
    margin-top: -34px;
    padding: 0;
    padding-left: 16px;
    margin-bottom: 35px;

  }

  & li {
    margin: 2px 0;
  }
}

.article--contacts strong {
  color: inherit;
  font-weight: bolder;
}

.article__title {
  margin: 0;
  margin-top: 26px;
  margin-bottom: 30px;
  font-family: 'Geometria', 'Verdana', sans-serif;
  @include set-font-size($h2-font-size);
  font-weight: 800;
  color: $text-black;
  text-transform: uppercase;
}

.article__pagination {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media ($only-mobyle-widths) {
  .article table {
    font-size: 10px;
  }

  .article__pagination > *{
    margin-bottom: 20px;
  }
}

@media ($tablet-widths) {
  .article {

    & h3 {
      @include set-font-size($menu-main-font-size, large);
      margin-bottom: 25px;
    }
  }
  .article__wrapper {
    column-width: 359px;
    column-gap: 30px;
  }

  .article__title {
    margin-top: 30px;
    margin-bottom: 40px;
    @include set-font-size($h2-font-size, medium);
  }

  .article__pagination {
    flex-direction: row;
  }
}

@media ($desktop-widths) {

 .article__title {
    margin-top: 35px;
    margin-bottom: 50px;
    @include set-font-size($h2-font-size, large);
 }
}
