.gallery {
  position: relative;
  margin: 0;
  padding-bottom: 22px;
}

.gallery--equipments {
  & .gallery__list {
    margin: 0 -10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 398px;
  }

  & .gallery__item {
    width: calc(50% - 20px);
    flex-basis: calc(50% - 20px);;
    flex-grow: 1;
    font-weight: 400;
    color: $text-white;
    text-decoration: none;
  }

  & .gallery__caption {
    padding-bottom: 20px;
  }
}

.gallery__wrapper {
  padding: 0 10px;
  padding-top: 13px;
}

.gallery__title {
  margin: 0;

  margin-bottom: 4px;
  padding: 0;
  font-family: 'Geometria', 'Verdana', sans-serif;
  font-weight: 800;
  @include set-font-size($h2-font-size);
  text-transform: uppercase;
  color: $text-black;
  text-align: center;
}

.gallery__subtitle {
  @include hide;
}

.gallery__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
  font-size: 0;
  line-height: 0;

}

.gallery__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  flex-grow: 1;
  margin: 0 10px;
  margin-bottom: 25px;
  padding: 0;
  width: calc(50% - 20px);
  flex-basis: calc(50% - 20px);
  min-width: 91px;
  background-color: $bg-dark;
  color: $text-white;
  list-style: none;
  border-bottom: 2px solid #a5a5aa;

  &:hover {
    box-shadow: 0 0 8px 0 #000000d9;
    cursor: pointer;
  }

 & p {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 10px;
 }
}

.gallery--index {
  & .gallery__list {
    margin: 0 auto;
  }

  & .gallery__item {
    background-color: $bg-white;
    color: inherit;
  }

  & .gallery__title {
    color: $text-black;
  }
}

.gallery__caption {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 4px;
  padding: 0 10px;
  font-family: 'Geometria', 'Verdana', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.gallery__img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.gallery__all {
  display: table;
  margin: 22px auto;
  white-space: nowrap;
}

.gallery__pagination {
  position: relative;
  bottom: -20px;
  padding-bottom: 40px;
}

@media ($only-mobyle-widths) {
  .gallery--feed {
    display: none;
  }
}

@media ($tablet-widths) {
  .gallery--index {
    padding-top: 60px;

    & .gallery__list {
      padding-top: 20px;
    }

  }

  .gallery__wrapper {
    @include wrapper;
  }

  .gallery__title {
    @include set-font-size($h2-font-size, medium);
  }

  .gallery__item {
    width: calc(25% - 20px);
    flex-basis: calc(25% - 20px);
    min-height: 260px;
    border-bottom-color: transparent;
  }

  .gallery__caption {
    font-size: 12px;
  }

  .gallery__pagination {
    bottom: 53px;
    padding-bottom: 0;
  }

  .gallery--feed {
    position: relative;
    background-color: $bg-gray;
    padding: 30px 15px;

    & .gallery__wrapper {
      margin: 0 auto;
      padding: 0;
    }

    & .gallery__list {
      padding: 0;
    }

    & .gallery__item {
      margin: 0 auto;
      width: calc(20% - 15px);
    }

    & h3 ,
    & a {
      color: $text-white;
      font-weight: 400;
      font-size: 12px;
      text-transform: initial;
      text-decoration: none;
    }

    & .gallery__item:hover {
      color: $text-white;
      text-decoration: underline;
    }

    & .gallery__img-wrap {
      height: 120px;
      width: auto;
      overflow: hidden;
    }

    & .gallery__img {
      width: auto;
      height: 100%;
      object-fit: cover;
    }

    & .gallery__before,
    & .gallery__after {
      position: absolute;
      width: 30px;
      height: 100%;
      top: 0;
      background-color: rgba($text-gray-footer, 0.7);
      opacity: 0;
    }

    &:hover .gallery__before,
    &:hover .gallery__after {
      opacity: 0.7;
      z-index: 40;
    }

    & .gallery__before {
      left: 0;
    }

    & .gallery__after {
      right: 0;
    }

    & .gallery__before::before,
    & .gallery__after::before {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      border-top: 2px solid $bg-white;
      border-left: 2px solid $bg-white;
      left: 12px;
      bottom: 50%;
      transform: rotate(-45deg);
    }

    & .gallery__after::before {
      left: 8px;
      transform: rotate(135deg);
    }

    & .gallery__before:hover,
    & .gallery__after:hover {
      opacity: 1;
    }

    & .gallery__before:active,
    & .gallery__after:active {
      opacity: 1;
      background-color: $text-gray-footer;
    }
  }
}

@media ($desktop-widths) {
  .gallery {

    padding-bottom: 77px;
  }

  .gallery--index {
    padding-top: 80px;


    & .gallery__list {
      margin: 0 -10px;
      padding: 0;
      padding-top: 30px;
      padding-bottom: 45px;
    }
  }

  .gallery--feed {
    padding-top: 50px;
    padding-bottom: 51px;

    & .gallery__img-wrap {
      height: 170px;
    }
  }

  .gallery__title {
    @include set-font-size($h2-font-size, large);
    text-align: initial;
    padding: 0;
  }

  .gallery__subtitle {
    @include show;
    @include set-font-size($h2-sub-font-size, large);
    text-transform: lowercase;
  }

  .gallery__list {
    padding: 0;
    padding-top: 33px;
    padding-bottom: 45px;
  }

  .gallery__item {
    font-size: 13px;
    line-height: 18px;
    text-align: center;
  }

  .gallery__pagination {
    bottom: 53px;
  }

}
