
.menu__toggle {
  position: absolute;
  top: 17px;

  display: block;
  width: 16px;
  height: 16px;

  font-size: 0;

  background-color: $bg-white;
  border: none;

  cursor: pointer;
}

.menu--closed .menu__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 16px;
  height: 2px;

  background-color: $text-black;
  box-shadow: 0 6px 0 0 $text-black,
              0 12px 0 0 $text-black;
}

.menu--closed .menu__toggle:hover::before {
  background-color: rgba($text-black, 0.6);
  box-shadow: 0 6px 0 0 rgba($text-black, 0.6),
              0 12px 0 0 rgba($text-black, 0.6);
}

.menu--closed .menu__toggle:active::before {
  background-color: rgba($text-black, 0.3);
  box-shadow: 0 6px 0 0 rgba($text-black, 0.3),
              0 12px 0 0 rgba($text-black, 0.3);
}

.menu--opened .menu__toggle {

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;

    width: 16px;
    height: 2px;

    background-color: $text-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.menu--opened .menu__item {
  box-shadow: inset 0 -1px 0 0 #dddddd;

  & a{
    margin-left: 30px;
    padding: 16px 46px;
  }
}

.menu__list{
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu--footer {
  @include clearfix();

  & .menu__list {
    float: right;
    width: calc(50% - 20px);

  }

  & .menu__list:first-child {
    float: left;
  }

  & .menu__item {
    padding-bottom: 6px;
  }

  .menu__item a[href]:hover {
    color: inherit;
    opacity: 0.9;
  }

  .menu__item a[href]:active {
    color: inherit;
    opacity: 0.6;
  }
}

.menu__item {
  font-family: 'Geometria', 'Verdana', sans-serif;
  font-weight: 500;
  @include set-font-size($menu-main-font-size);
  text-transform: uppercase;
}

 .menu__item--ruen {
    display: flex;
    justify-content: start;
    text-transform: uppercase;
  }

  .menu__item--ruen a + a{
    margin-left: 0;
  }

.menu__item a {
  display: block;

  color: $text-menu-item;
  text-decoration: none;
}

.menu__list--additional .menu__item a {
  color: $text-submenu-item;
}

.menu__item a[href]:hover {
  color: rgba($text-black,0.6);
}

.menu__item a[href]:active {
  color: rgba($text-black,0.3);
}

@media ($only-mobyle-widths) {
  .menu--closed .menu__item {
    display: none;
  }

  .menu--opened .menu__wrapper {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    z-index: 10;

    height: calc(100vh - 50px);;
    background-color: $bg-white;
    overflow-y: auto;
  }

   .menu--nojs .menu__toggle {
    display: none;
  }

  .menu--nojs .menu__wrapper {
    position: static;

    height: auto;
  }

  .menu--nojs .menu__item {
    display: block;
  }

  .menu--nojs .menu__item--active a {
    padding-right: 21px;
    padding-left: 21px;

    text-align: left;
  }
}

@media ($tablet-widths) {
  .menu {
    display: block;
    box-shadow: none;
  }
  .menu__toggle {
    display: none;
  }

  .menu__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .menu__list {
    width: auto;
    display: flex;
    flex-direction: row;
  }

  .menu__item {
    @include set-font-size($menu-main-font-size, medium);
    padding-right: 10px;
    padding-left: 10px;
  }

  .menu__item a {
    padding: 14px 0;
  }

  .menu__list--additional .menu__item {
    @include set-font-size($menu-sub-font-size, medium);
  }

  .menu__list--additional .menu__item a {
    padding: 4px 0;
  }

  .menu__item--ruen {
    margin-left: auto;
    margin-right: 130px;

    & a + a {
      position: relative;
      margin-left: 11px;
    }

    & a + a::before {
      content: '/';
      position: relative;
      left: -5px;

    }
  }

  .menu--footer {
   & .menu__list {
    flex-direction: column;
    width: auto;
    max-width: 150px;
   }

    & a {
      padding: 0;
    }

    & .menu__item--google a{
      font-size: 0;
      line-height: 0;
      width: 15px;
      height: 16px;
      color: transparent;
      background-image: url(../img/g+.png);
      background-size: 15px 16px;
    }
  }
}

@media ($desktop-widths) {
  .menu {
    width: auto;
  }

  .menu__wrapper {
    padding: 0;
  }

  .menu__list {
    width: auto;
    flex-direction: row;
  }

  .menu__item {
    @include set-font-size($menu-main-font-size, large);
    font-weight: 700;
    padding-right: 20px;
    padding-left: 20px;
    letter-spacing: 1.2px;
  }

  .menu__list--additional .menu__item {
    @include set-font-size($menu-sub-font-size, large);
    font-weight: 400;
    padding-right: 0;
  }

  .menu__item a {
    padding-top: 31px;
    padding-bottom: 31px;
  }

  .menu__item--ruen {
    margin-right: 162px;
  }

  .menu--footer  {
    justify-content: space-between;
  }

  .menu--footer .menu__list {
    max-width: 180px;
  }

  .menu--footer .menu__item {
    padding: 0;
  }

  .menu--footer a {
    padding: 0;
    margin-bottom: 13px;
    @include set-font-size($menu-footer-font-size, large);
  }
}
