.page-header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #fafbfd;

  border-bottom: 1px solid #dddddd;
  z-index: 30;
}

.page-header__logo {
  order: 2;
  width: 151px;
  height: 11px;
  padding: 19px 34px;
}

.page-header__logo a[href]:hover {
  opacity: 0.6;
}

.page-header__logo a[href]:active {
  opacity: 0.3;
}

.page-header__search {
  display: block;
  height: 49px;
  box-shadow: 1px 0 0 0 #dddddd;
}
.page-header__menu {
  z-index: 10;

  box-shadow: inset 0 1px 0 0 #ececec,
  inset 0 -1px 0 0 #ececec;
  order: 3;
}

@media ($desktop-widths) {
  .page-header__logo {
    align-self: center;
    width: 204px;
    height: 15px;
    margin: 0;
  }
}
