.projects {
  margin: 0;

  background-color: $bg-white;
}

.projects__title {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 29px;
  font-family: 'Geometria', 'Verdana', sans-serif;
  font-weight: 800;
  @include set-font-size($h2-font-size);
  text-transform: uppercase;
  color: $text-black;
  text-align: center;
}

.projects__subtitle {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.projects__filter {
  display: none;
}

.projects__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  font-size: 0;
}

.projects__all {
  display: table;
  margin: 22px auto;
  white-space: nowrap;
}

@media ($tablet-widths) {
  .projects__wrapper {
    @include wrapper();
  }

  .projects__list {
    margin: 0 -10px;
  }
}

@media ($desktop-widths) {
  .projects {
    padding-top: 30px;
    margin-bottom: 100px;
  }

  .projects__title {
    @include set-font-size($h2-font-size, large);
    text-align: initial;
    padding: 0;
    padding-top: 112px;
    margin-bottom: 22px;
  }

  .projects__subtitle {
    @include show;
    @include set-font-size($h2-sub-font-size, large);
    text-transform: lowercase;
  }

  .projects__filter {
    display: flex;
    padding-top: 38px;
    margin-bottom: 70px;
  }

  .projects__filter input {
    display: none;
  }

  .projects__filter label {
    display: block;
    padding: 5px 19px;
    margin-right: 10px;

    font-family: 'Geometria', 'Verdana', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;

    color: $text-gray-light;
    border: 1px solid $text-gray-light;
    border-radius: 3px;

  }

  .projects__filter input:checked + label,
  .projects__filter label:hover {
    color: $text-white;
    background-color: $bg-red;
    border-color: $bg-red;
  }

  .projects__list {
    padding: 0;
    margin-bottom: 41px;
    justify-content: space-between;

  }

  .projects__all {
    margin: 22px auto;
    margin-bottom: 100px;
  }
}

