.search {
  z-index: 40;
}

.search__form {
  height: 49px;
  background-color: #fafbfd;

  &:focus-within {
    margin-right: -160px;
  }
}

.search__label {
  position: relative;
  display: block;
  float: right;
  width: 49px;
  height: 49px;

  font-size: 0;
  line-height: 0;

  border-right: 1px solid #dddddd;

  &::before {
    content: '';
    position: absolute;
    top: 16px;
    left: 16px;
    width: 16px;
    height: 16px;

    background-image: url(../img/search.svg);
    opacity: 0.7;
  }
}



.search__label:hover::before {
  opacity: 0.5;
}

.search__line {
  width: 0;
  border: 1px solid transparent;
  opacity: 0;

  &:focus {
    position: relative;
    top: 16px;
    margin-left: 10px;
    width: 150px;
    opacity: 1;
  }

}

@media ($tablet-widths) {
  .search__form {
    background-color: transparent;
    height: auto;

    &:focus-within {
      margin-right: 0;
    }
  }

  .search__label {
    position: absolute;
    border: none;
    height: auto;
    right: -16px;

    &::before {
      top: 5px;
      right: 0;
      width: 11px;
      height: 11px;
    }
  }

  .search__line {
    opacity: 1;
    width: 100px;
    padding-left: 5px;
    padding-right: 14px;
    padding-bottom: 3px;
    border-radius: 10px;
    font-size: 10px;
    background-color: #d7d7d7;
    text-transform: uppercase;

    &::placeholder {
      display: block;
      font-size: 10px;
      text-transform: uppercase;


    }

    &:focus {
      position: inherit;
      top: inherit;
      margin-left: inherit;
      width: 100px;
      opacity: inherit;
      border-color: $br-line-footer;
    }
  }

  @media ($desktop-widths) {
    .search__line{
      width: 120px;

      padding-left: 13px;
      padding-right: 15px;
      padding-bottom: 5px;
      padding-top: 5px;

       &::placeholder {
         text-transform: uppercase;
       }

       &:focus {
          width: 120px;
       }
    }
  }
}
